{% extends "ecommerce/base.html" %}
{% load static %}
{% block title %}Serum Categories{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row g-4">
        {% for sc in sc %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'productdetails' sc.id %}" class="text-decoration-none text-dark">
                <div class="card serum_categories_card product_card shadow-sm border-0 rounded-3 h-100">
                    <div class="overflow-hidden">
                        <img class="card-img-top img-fluid" src="{{ sc.product_image.url }}" alt="Serum Image" 
                             style="height: 200px; object-fit: cover;">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">{{ sc.name }}</h5>
                        <h5 class="fw-bold text-dark">
                            <i class="fa-solid fa-indian-rupee-sign"></i> {{ sc.discounted_price }}
                            <small class="fw-light text-muted ms-1"><del>{{ sc.original_price }}</del></small>
                            <small class="text-danger">(Offer Available)</small>
                        </h5> 
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
