{% extends "core/base.html" %}

{% block title %}Women's Shoes{% endblock title %}

{% block content %}

<!-- Women's Shoes Card -->
<div class="container">
    <div class="row">
        {% for shoe in shoe %}
        <div class="col-sm-4 mb-4">
            <a href="{% url 'shoedetails' shoe.id %}" style="text-decoration: none;">
                <div class="card women_shoes_card">
                    <img class="card-img-top" src="{{ shoe.shoe_image.url }}" alt="{{ shoe.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ shoe.name }}</h5>
                        <div class="text-center">
                            <h5 class="font-weight-bold text-dark">
                                <i class="fa-solid fa-indian-rupee-sign"></i>{{ shoe.discounted_price }}
                                <small class="fw-light rupee"><del>₹{{ shoe.original_price }}</del></small>
                                <small class="text-danger">({{ shoe.discount_percentage }}% off)</small>
                            </h5>
                            <p class="text-muted">Colour: {{ shoe.get_colour_display }}</p>
                            <p class="text-muted">Size: {{ shoe.get_size_display }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Women's Shoes Card -->

{% endblock content %}